# A. Data exploration and data splitting

In this notebook, I load in the original data and explore the raw data. This step is really important to gain more insights into the data before constructing my classification models. After inspecting the raw data, I drop unnecessary columns from the database. Then, I have a look at the class imbalance in my dataset. Here, it becomes clear that I have big class imbalances and few observations for some categories. Therefore, I reevaluated the categories and reclassified certain categories depending on the number of observations and their relevance. Finally, I split the data into a training and a test set, with a 80/20 train test split while maintaining the class frequencies in each dataset.

# 0. Data loading

Start by loading in all the necessary packages and the raw data. In order to load in the data, I changed the working directory of this file. This should be adjusted to your own personal storage of the files. Then, I have a first look at the data by inspecting the first 5 observations.

In [1]:
# Import necessary libraries
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [2]:
# Change to Working Directory with Training Data # 
os.chdir("/Users/Artur/Desktop/thesis_HIR_versie5/coding")

# Load Training Data #
df_data = pd.read_excel("./data/bronze_data/STOXX EU 600.xlsx", header = 0)

# inspect the data
df_data.head(5)

,id,publisher,TickerSymbolNexisUni,TickerSymbol,BvDIDnumber,IdentifierRIC,extrainfo,CountryOfExchange,CountryOfHQ,USSICIndustry,...,Human resources,R&D-related actions,Licensing,Production-related actions,Supplier/\noutsourcing,Corporate \ngovernance,Legal,Signaling,Symbolic,Comments
0,34,SeeNews Italy,A2A,A2A,IT11957540153,A2.MI,NaN,Italy,Italy,"Transportation, Communications, Electric, Gas,...",...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,39,SeeNews Italy,A2A,A2A,IT11957540153,A2.MI,NaN,Italy,Italy,"Transportation, Communications, Electric, Gas,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,61,SeeNews Italy,A2A,A2A,IT11957540153,A2.MI,NaN,Italy,Italy,"Transportation, Communications, Electric, Gas,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,139,Impact Financial News,A2A,A2A,IT11957540153,A2.MI,NaN,Italy,Italy,"Transportation, Communications, Electric, Gas,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,145,Midnight Trader Live Briefs,AA.,AA.,GB05149111,AAAA.L,NaN,United Kingdom,United Kingdom,Retail trade,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Drop unnecessary columns from your data. These columns do not add any value to the classification model I aim to construct. Afterwards, I only keep the id, the headlines and the category of my observations.

In [3]:
# drop all unnecessary columns
df_data = df_data.drop(df_data.columns[1:13], axis = 1)
df_data = df_data.drop(df_data.columns[31], axis = 1)

# inspect the data
df_data.head(5)

,id,Headline,None,New product introduction/\nservice offering,Product/\nservice improvement,Product/\nservice deletion,New geographical market entry,New product/service\n market entry,Expansion in existing market (product/service/geographical),Reducing market presence or\n exiting a market (product/service/geographical),...,Financing,Human resources,R&D-related actions,Licensing,Production-related actions,Supplier/\noutsourcing,Corporate \ngovernance,Legal,Signaling,Symbolic
0,34,Multiutility A2A appoints Andrea Crenna CFO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
1,39,Italian A2A Reti Elettriche gives application ...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,61,"Italian M&A Deals: Telecom Italia, A2A, Fiat C...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,139,Press release - ORDINARY MEETING OF THE A2A S....,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,145,"--Alcoa (AA) Q4 Earnings of $0.04 Ex Items, Re...",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# inspect the data types
df_data.dtypes

id                                                                                 int64
Headline                                                                          object
None                                                                             float64
New product introduction/\nservice offering                                      float64
Product/\nservice improvement                                                    float64
Product/\nservice deletion                                                       float64
New geographical market entry                                                    float64
New product/service\n market entry                                               float64
Expansion in existing market (product/service/geographical)                      float64
Reducing market presence or\n exiting a market (product/service/geographical)    float64
Advertising actions                                                              float64
Pricing actions                                                                  float64
Customer service/relations                                                       float64
Merger & \nacquisitions                                                          float64
Joint venture                                                                    float64
Strategic alliance                                                               float64
External venturing                                                               float64
De-venturing                                                                     float64
Divestiture                                                                      float64
Reorganisation/\nrestructuring                                                   float64
Spin-off                                                                         float64
Financing                                                                        float64
Human resources                                                                  float64
R&D-related actions                                                              float64
Licensing                                                                        float64
Production-related actions                                                       float64
Supplier/\noutsourcing                                                           float64
Corporate \ngovernance                                                           float64
Legal                                                                            float64
Signaling                                                                        float64
Symbolic                                                                         float64
dtype: object

# 1. Inspect the class imbalance

In this exploration phase, I already looked at what my data looks like, the type of the data and other information. Now, I am going to inspect the class frequencies of my dependent variable, the category the headline belongs to. Before I start this process, I convert all missing values to zero as this has the same meaning for my analysis and is needed to look at the class frequencies.

In this step, I already notice that I have one majority class 'None' and 28 minority classes. The majority class accounts for almost 86% of the data, while the 28 other classes need to share the remaining 14%. It is clear that this issue will need to dealt with as it has a great influence on the performance of my models.

Next, it also becomes clear that some categories have a very limited number of observations. It is very difficult for a machine learning model to learn from the data if there are only so few instances available. Therefore, it is clear that this is one of the issues that will have to be dealt with.

#### Inspect the class frequencies

In [5]:
# convert all missing values to zero
df_data = df_data.fillna(0)

# Create a new dataframe with only the columns of the different categories
df_categories = df_data.iloc[:, 2:]

# Get the frequency of ones in each column and divide by the number of observations
class_frequencies = df_categories.sum()/df_categories.count()

# Print the count of ones in each column
class_frequencies.head(29)

None                                                                             0.859743
New product introduction/\nservice offering                                      0.011987
Product/\nservice improvement                                                    0.005883
Product/\nservice deletion                                                       0.000370
New geographical market entry                                                    0.001554
New product/service\n market entry                                               0.000203
Expansion in existing market (product/service/geographical)                      0.005753
Reducing market presence or\n exiting a market (product/service/geographical)    0.001221
Advertising actions                                                              0.002812
Pricing actions                                                                  0.001424
Customer service/relations                                                       0.000481
Merger & \nacquisitions                                                          0.010637
Joint venture                                                                    0.001646
Strategic alliance                                                               0.018425
External venturing                                                               0.004144
De-venturing                                                                     0.001702
Divestiture                                                                      0.004606
Reorganisation/\nrestructuring                                                   0.000980
Spin-off                                                                         0.000148
Financing                                                                        0.006068
Human resources                                                                  0.003718
R&D-related actions                                                              0.003182
Licensing                                                                        0.000925
Production-related actions                                                       0.004902
Supplier/\noutsourcing                                                           0.000296
Corporate \ngovernance                                                           0.013800
Legal                                                                            0.025547
Signaling                                                                        0.002497
Symbolic                                                                         0.005531
dtype: float64

In [6]:
# Output the class frequencies to excel
class_frequencies.to_excel('./Output/Class imbalance/class_frequencies_bronze.xlsx', index=True)

<ipython-input-6-624f2832adf0>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  class_frequencies.to_excel('./Output/Class imbalance/class_frequencies_bronze.xlsx', index=True)

#### Inspect the number of observations per class

In [7]:
# Get the frequency of ones in each column
class_observations = df_categories.sum()

# Print the count of ones in each column
class_observations.head(29)

None                                                                             46476.0
New product introduction/\nservice offering                                        648.0
Product/\nservice improvement                                                      318.0
Product/\nservice deletion                                                          20.0
New geographical market entry                                                       84.0
New product/service\n market entry                                                  11.0
Expansion in existing market (product/service/geographical)                        311.0
Reducing market presence or\n exiting a market (product/service/geographical)       66.0
Advertising actions                                                                152.0
Pricing actions                                                                     77.0
Customer service/relations                                                          26.0
Merger & \nacquisitions                                                            575.0
Joint venture                                                                       89.0
Strategic alliance                                                                 996.0
External venturing                                                                 224.0
De-venturing                                                                        92.0
Divestiture                                                                        249.0
Reorganisation/\nrestructuring                                                      53.0
Spin-off                                                                             8.0
Financing                                                                          328.0
Human resources                                                                    201.0
R&D-related actions                                                                172.0
Licensing                                                                           50.0
Production-related actions                                                         265.0
Supplier/\noutsourcing                                                              16.0
Corporate \ngovernance                                                             746.0
Legal                                                                             1381.0
Signaling                                                                          135.0
Symbolic                                                                           299.0
dtype: float64

In [8]:
# output the class frequencies to excel
class_observations.to_excel('./Output/Class imbalance/class_observations_bronze.xlsx', index=True)

<ipython-input-8-6d5a3669ca92>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  class_observations.to_excel('./Output/Class imbalance/class_observations_bronze.xlsx', index=True)

## 2. Create dependent variable

In the current dataset, the dependent variable is spread out over multiple columns with one column per category. In order to train a classification algorithm, I create a new column that indicates which category a headline belongs to. This way, all 29 columns are melted into one categorical variable.

In [9]:
# Define the different categories
category_columns = ['None', 'New product introduction/\nservice offering',
                    'Product/\nservice improvement', 'Product/\nservice deletion',
                    'New geographical market entry', 'New product/service\n market entry',
                    'Expansion in existing market (product/service/geographical)',
                    'Reducing market presence or\n exiting a market (product/service/geographical)',
                    'Advertising actions', 'Pricing actions', 'Customer service/relations',
                    'Merger & \nacquisitions', 'Joint venture', 'Strategic alliance', 
                    'External venturing', 'De-venturing', 'Divestiture', 'Reorganisation/\nrestructuring',
                    'Spin-off', 'Financing', 'Human resources', 'R&D-related actions', 'Licensing', 
                    'Production-related actions', 'Supplier/\noutsourcing', 'Corporate \ngovernance',
                    'Legal', 'Signaling', 'Symbolic']

# Melt category columns into a single column, the dependent variable
df_melted = pd.melt(df_data, id_vars=['id', 'Headline'], value_vars=category_columns, var_name='category', value_name='category_value')
df_melted = df_melted[df_melted.category_value == 1]
df_melted = df_melted.drop('category_value', axis=1)

# inspect the data
df_melted.head(5)

    id                                           Headline category
1   39  Italian A2A Reti Elettriche gives application ...     None
2   61  Italian M&A Deals: Telecom Italia, A2A, Fiat C...     None
3  139  Press release - ORDINARY MEETING OF THE A2A S....     None
4  145  --Alcoa (AA) Q4 Earnings of $0.04 Ex Items, Re...     None
5  161  AA PLC Announcement of Completion of Offer & O...     None

## 3. Split into train and test set

Next, I split the data into a train and a test set by using a 80/20 distribution. When splitting the data, I preserve the distribution of the dependent variable so my train and test set are representative for the sample.

Further, the training set will be used to train my models in the following notebooks, while the test set will only be used to evaluate the performance of the models.

In [10]:
# Split the data into training and testing sets while preserving the distribution of the dependent variable
train, test = train_test_split(df_melted, test_size =0.2, stratify=df_melted['category'], random_state=7)

In [11]:
# Print the number of samples in each dataset
print('Number of samples in training set:', len(train))
print('Number of samples in testing set:', len(test))

Number of samples in training set: 43254
Number of samples in testing set: 10814

In [12]:
train.head(5)

           id                                           Headline category
7183   194578  Head Line: US Patent granted to BASF SE (Delaw...     None
21198  564295  Societe Generale Launches a Next-Generation Ca...     None
18921  504138  BARCLAYS PLC Form 8.3 - EUTELSAT COMMUNICATION...     None
3325    91379                         ASML: 4Q Earnings Snapshot     None
10015  265750  Form 8.3 - AXA INVESTMENT MANAGERS : Booker Gr...     None

In [13]:
# print the distribution of the classes in the training data
class_frequencies_train = train['category'].value_counts()/len(train)

# print the class frequencies
print(class_frequencies_train)

None                                                                             0.859574
Legal                                                                            0.025547
Strategic alliance                                                               0.018426
Corporate \ngovernance                                                           0.013802
New product introduction/\nservice offering                                      0.011976
Merger & \nacquisitions                                                          0.010635
Financing                                                                        0.006057
Product/\nservice improvement                                                    0.005872
Expansion in existing market (product/service/geographical)                      0.005757
Symbolic                                                                         0.005526
Production-related actions                                                       0.004901
Divestiture                                                                      0.004601
External venturing                                                               0.004138
Human resources                                                                  0.003722
R&D-related actions                                                              0.003190
Advertising actions                                                              0.002821
Signaling                                                                        0.002497
De-venturing                                                                     0.001711
Joint venture                                                                    0.001641
New geographical market entry                                                    0.001549
Pricing actions                                                                  0.001433
Reducing market presence or\n exiting a market (product/service/geographical)    0.001225
Reorganisation/\nrestructuring                                                   0.000971
Licensing                                                                        0.000925
Customer service/relations                                                       0.000486
Product/\nservice deletion                                                       0.000370
Supplier/\noutsourcing                                                           0.000301
New product/service\n market entry                                               0.000208
Spin-off                                                                         0.000139
Name: category, dtype: float64

In [14]:
# print the distribution of the classes in the training data
class_frequencies = test['category'].value_counts()/len(test)

# print the class frequencies
print(class_frequencies)

None                                                                             0.859626
Legal                                                                            0.025522
Strategic alliance                                                               0.018402
Corporate \ngovernance                                                           0.013778
New product introduction/\nservice offering                                      0.012021
Merger & \nacquisitions                                                          0.010634
Financing                                                                        0.006103
Product/\nservice improvement                                                    0.005918
Expansion in existing market (product/service/geographical)                      0.005733
Symbolic                                                                         0.005548
Production-related actions                                                       0.004901
Divestiture                                                                      0.004624
External venturing                                                               0.004161
Human resources                                                                  0.003699
R&D-related actions                                                              0.003144
Advertising actions                                                              0.002774
Signaling                                                                        0.002497
De-venturing                                                                     0.001665
Joint venture                                                                    0.001665
New geographical market entry                                                    0.001572
Pricing actions                                                                  0.001387
Reducing market presence or\n exiting a market (product/service/geographical)    0.001202
Reorganisation/\nrestructuring                                                   0.001017
Licensing                                                                        0.000925
Customer service/relations                                                       0.000462
Product/\nservice deletion                                                       0.000370
Supplier/\noutsourcing                                                           0.000277
Spin-off                                                                         0.000185
New product/service\n market entry                                               0.000185
Name: category, dtype: float64

## 4. Adjust the data

It was clear from the beginning that building a classification model with so many categories would be a serious challenge. Therefore, I consulted my promotor Bettina De Ruyck to identify categories that could be merged due to few observations or categories with less relevance. As a result, I reclassified the irrelevant categories to the category 'None' and I melted the following categories to a new category:

1. External venturing and Joint venture -> Venturing
2. Advertising actions, Pricing actions, and Customer service/relations -> Marketing

First, drop the categories that were seen as unimportant after evaluation. These categories will be relocated to the category 'None'

In [15]:
# duplicate the original training dataset
train_adj = train.copy()

# Recategorize the unimportant categories to the category 'None'
train_adj.replace(['De-venturing', 'Reorganisation/\nrestructuring',
                          'Spin-off', 'Reducing market presence or\n exiting a market (product/service/geographical)',
                          'Product/\nservice deletion', 'Licensing', 'Legal',
                          'Supplier/\noutsourcing', 'Symbolic', 'Signaling'], 'None', inplace=True)

# Inspect the data
train_adj.head(5)

           id                                           Headline category
7183   194578  Head Line: US Patent granted to BASF SE (Delaw...     None
21198  564295  Societe Generale Launches a Next-Generation Ca...     None
18921  504138  BARCLAYS PLC Form 8.3 - EUTELSAT COMMUNICATION...     None
3325    91379                         ASML: 4Q Earnings Snapshot     None
10015  265750  Form 8.3 - AXA INVESTMENT MANAGERS : Booker Gr...     None

Perform the same process for the test set

In [16]:
 # duplicate the original training dataset
test_adj = test

# Recategorize the unimportant categories to the category 'None'
test_adj.replace(['De-venturing', 'Reorganisation/\nrestructuring',
                          'Spin-off', 'Reducing market presence or\n exiting a market (product/service/geographical)',
                          'Product/\nservice deletion', 'Licensing', 'Legal',
                          'Supplier/\noutsourcing', 'Symbolic', 'Signaling'], 'None', inplace=True)

Second, recategorize other identified categories into a specific category.

In [17]:
# Recategorize advertising, pricing and customer service into a new marketing category
train_adj.replace(['Advertising actions', 'Pricing actions',
                          'Customer service/relations'], 'Marketing', inplace=True)
test_adj.replace(['Advertising actions', 'Pricing actions',
                          'Customer service/relations'], 'Marketing', inplace=True)

# Recategorize joint venture into external venturing
train_adj.replace(['Joint venture', 'External venturing'], 'Venturing', inplace=True)
test_adj.replace(['Joint venture', 'External venturing'], 'Venturing', inplace=True)

# Recategorize new product/service market entry into New geographical market entry
train_adj.replace(['New product/service\n market entry', 'New geographical market entry'], 'Market entry', inplace=True)
test_adj.replace(['New product/service\n market entry', 'New geographical market entry'], 'Market entry', inplace=True)

Get the number of observations per category for the two datasets combined

In [18]:
# Concatenate train and test datasets
df_data = pd.concat([train_adj, test_adj], ignore_index=True)

# Calculate the frequency of each unique value in the 'category' column
df_data_obs = df_data['category'].value_counts()
df_data_obs

None                                                           48596
Strategic alliance                                               996
Corporate \ngovernance                                           746
New product introduction/\nservice offering                      648
Merger & \nacquisitions                                          575
Financing                                                        328
Product/\nservice improvement                                    318
Venturing                                                        313
Expansion in existing market (product/service/geographical)      311
Production-related actions                                       265
Marketing                                                        255
Divestiture                                                      249
Human resources                                                  201
R&D-related actions                                              172
Market entry                                                      95
Name: category, dtype: int64

In [19]:
# get the frequency per category
df_data_freq = df_data['category'].value_counts()/len(df_data)

In [20]:
# Output the class observations and frequencies to excel
df_data_obs.to_excel('./Output/Class imbalance/class_observations_silver.xlsx', index=True)
df_data_freq.to_excel('./Output/Class imbalance/class_frequencies_silver.xlsx', index=True)

<ipython-input-20-213b4c276c62>:2: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df_data_obs.to_excel('./Output/Class imbalance/class_observations_silver.xlsx', index=True)
<ipython-input-20-213b4c276c62>:3: UserWarning: Pandas requires version '1.4.3' or newer of 'xlsxwriter' (version '1.3.8' currently installed).
  df_data_freq.to_excel('./Output/Class imbalance/class_frequencies_silver.xlsx', index=True)

## 5. Write away

Write the data away as silver data as some changes have been made so it differs from the original (= bronze) data. However, it still needs some preprocessing, after it which will be stored as gold data.

In [21]:
# Save the adjusted train and test sets to CSV files
train_adj.to_csv('./data/silver_data/train.csv', index=False)
test_adj.to_csv('./data/silver_data/test.csv', index=False)